body, html {
    height :100%!important;

}
.bgnd {
    background-image: url("../images/bg.png")!important;
    height:100%!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}
.jumbotron {
    background-color: rgba(10, 10,10, 0.1)
}